@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
:root {
    --primary: #b5f7f2;
  }
  
  ::-moz-selection {
    background: var(--primary);
    color: #333;
  }
  
  ::selection {
    background: var(--primary);
    color: #333;
    text-shadow: none;
  }
  
  a {
    text-decoration: none;
    color: #fcfcfc;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  
  html::-webkit-scrollbar {
    width: 0px;
  }
  
  html::-webkit-scrollbar-track {
    background: #222;
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--primary);
  }


/* Main Styles */


body {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(to right, #2e3a2e, #4a6440, #4d6b43, #344d2e, #32552a, #355c2c, #355c2c, #203a1a);
    position: relative;
    overflow-x: hidden;
}


#noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent interaction with the noise layer */
    z-index: 0; /* Keep the noise layer behind other content */
    background: url('noise.png');
    opacity: 0.07;
  }

.content {
    position: relative;
    z-index: 3; /* Ensure content is above the background layers */
    padding: 20px;
    color: white;
}


.container {
    width: 100%;
    max-width: 1800px;
    text-align: center;
}

header {
    padding: 30px 0;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    font-family: "Dela Gothic One", sans-serif;
    color: #f8ff01;
    text-shadow: 2px 4px rgb(179, 0, 0);
}

header p {
    font-size: 1.6rem;
    color: #ffffff;
    margin-top: 0;
    text-shadow: 2px 1px rgb(146, 179, 0);
    font-family: "Dela Gothic One", sans-serif;
}

header img{
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-top: -10px;
}




.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card.wide-16-9 {
    width: calc(33.333% - 20px);
}

.card.wide-5-4 {
    width: calc(33.333% - 20px);
}

.card.vertical {
    width: calc(16.666% - 20px);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.video-wrapper {
    width: 100%;
    height: 0;
    position: relative;
}

.card.wide-16-9 .video-wrapper {
    padding-bottom: 56.25%; /* 16:9 ratio for wide videos */
}

.card.wide-5-4 .video-wrapper {
    padding-bottom: 80%; /* 5:4 ratio for wide videos */
}

.card.vertical .video-wrapper {
    padding-bottom: 177.78%; /* 9:16 ratio for vertical videos */
}

.video-wrapper lite-youtube,
.video-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-wrapper iframe {
    border: none;
}

.label {
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}


.button-container{
    display: block;
    margin-bottom: 30px;
    position: relative;
}

.button-container button{
    background: #0e3510;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #32552a;
}

.button-container button:hover{
    box-shadow: 1px 1px 10px #203a1a;
}
